<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tdd-challenge.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5699B6331F2F20B600C512AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5699B6471F2F20B600C512AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5699B6521F2F20B600C512AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
